/* Game Header */
._3Mp8R2wnoCl6ko0HAX8IHE {
    filter: none !important;
    transition-property: transform !important;
}

/* Recent Game Panel */
._3MdH5Czolhh5rC_nofUlcQ {
    margin-top: calc(100vh - 80px - 14px - 311px);
}